{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block extrahead %}
    {% endblock %}
    <title>Wypożyczalnia</title>
</head>
<body>

<div class="container">
    <div align="right">

        {% if zalogowany %}
            <p>Witaj {{ user.first_name }} ! <a href="/logout">Wyloguj</a></p>
        {% else %}
            <p>Nie zalogowano. <a href="/login">Zaloguj</a></p>
        {%  endif %}

    </div>
    <h1>Wypożyczalnia samochodów </h1>

        {% block container %}
        {% endblock %}
</div>


</body>
</html>

