{% extends 'base.html' %}

{% block container %}


    <h2>{{ description.brand }} {{ description.model }}</h2>



            <form action="{{ action }}" method="post">

                {% csrf_token %}
                <input type="hidden" name = "car_id" value="{{ description.id }}">
                {{ form.as_p }}

                <span>Kwota do zapłaty wynosi: </span> <span id="price"></span> <span> zł</span>

                <div>
                    <button type="submit" class="btn btn-primary btn-lg">Rezerwuję</button>
                </div>

                <p id="price"></p>
            </form>

            {{ message }}



        <script>$('#id_start_date').datepicker({format: 'yyyy-mm-dd',}); </script>
        <script> $('#id_end_date').datepicker({format: 'yyyy-mm-dd',});</script>



    <script>

    $('#id_start_date, #id_end_date').change(function(){
        var url = '/summary';
        var start_date = $('#id_start_date').val();
        var end_date = $('#id_end_date').val();
        $.ajax({
            url: url,
            data: {
                'start_date': start_date,
                'end_date': end_date,
                'segment': {{ description.segment }}
            }
        }).done(function(data) {
            console.log(12);
            console.log(data);
            $('#price').text(data);
        })
    });
    </script>

{% endblock %}