{%  extends 'base.html' %}


{% block container %}

    <p></p>
<center><h2>Wybierz segment, który Cię interesuje</h2></center>

    <hr>

        {% for segment_id, segment_name in segments %}
        <center>
            <table class="table text-center">

                <tbody>
                    <tr>
                        <a href='/segment/{{ segment_id}}'>{{ segment_name }}</a>

                    </tr>
                </tbody>

            </table>
        </center>
    {%  endfor %}

{% endblock %}


